<!doctype html>
<html ng-app="emotional" ng-init="val= [], addVoc= ''">
<head></head>
<body>

<div ng-controller="emotionalController" style="background:rgb(255,240,240)">
<table id="emotions">
<tr ng-repeat="emotion in vocab" id="e{{ $index }}">
	<td>{{ emotion }}</td>
	<td><input type="range" min="0" max="1" step="0.02" ng-model="val[$index]"/></td>
	<td>{{ val[$index] }}</td>
</tr>
<tr>
	<td>
		<select ng-model="addVoc">
			<option ng-repeat="vocab in vocabs" style="color:{{ colors[vocab.type] }}" value="{{ vocab.id }}" >{{ vocab.id }}</option>
		</select>
	</td>
	<td>
		<select ng-model="addItem">
			<option>[all]</option>
			<option ng-repeat="item in vocabs[addVoc].items">{{ item }}</option>
		</select>
	</td>
	<td></td>
</tr>
</table>

<hr/>

<p>debug</p>
<p>{{ addVoc }}</p>

<hr/>

<p>output</p>
<p style="font-size:10pt; background:rgb(240,240,255)">
&lt;emotionml xmlns="http://www.w3.org/2009/10/emotionml"&gt;
<span ng-repeat="emotion in vocab" id="v{{ $index }}"><br/>
	&lt;emotion category-set="http://www.w3.org/TR/emotion-voc/xml#big6"&gt;
		&lt;category name="{{ emotion }}" value="{{ val[$index] }}"/&gt;
	&lt;/emotion&gt;
</span>
&lt;emotionml&gt;
</p>

</div>

<script src="angular.js"></script>
<script src="script.js"></script>
</body>
</html>
